* {
  font-family: Montserrat, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg");
}

#fest-img-container {
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg");
}

.pink-colour {
  color: rgb(204, 46, 120);
}

.orange-colour {
  color: rgb(242, 129, 49);
}

.blue-colour {
  color: rgb(2, 160, 224);
}

.webname {
  font-family: Seymour One;
}

.btn {
  color: white;
}

.btn-pink {
  background-color: rgb(204, 46, 120);
}

.btn-pink:focus,
#FestSearchInput:focus {
  box-shadow: 0 0 10px 5px rgb(204, 46, 120);
}

.btn-orange {
  background-color: rgb(242, 129, 49);
}

.btn-orange:focus,
#OrgSearchInput:focus {
  box-shadow: 0 0 10px 5px rgb(242, 129, 49);
}

.btn-bublue {
  background-color: rgb(2, 160, 224);
}

.btn-bublue:focus {
  box-shadow: 0 0 10px 5px rgb(2, 160, 224);
}

#navbar {
  padding: 10px;
  border-radius: 10px;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.2rem rgb(204, 46, 120);
}

.glavno-polje {
  background: linear-gradient(
    rgb(204, 46, 120),
    rgb(242, 129, 49),
    rgb(2, 160, 224)
  );
}

.search {
  background: linear-gradient(rgb(2, 160, 224), rgba(0, 0, 0, 0));
}

.card a {
  text-decoration: none;
  color: inherit;
}

#organizatori .card {
  border-color: rgb(242, 129, 49);
}

#organizatori .card a:hover {
  box-shadow: 0 0 10px 5px rgb(242, 129, 49);
}

#festivali .card {
  border-color: rgb(204, 46, 120);
}

#festivali .card a:hover {
  box-shadow: 0 0 10px 5px rgb(204, 46, 120);
}

.card img {
  object-fit: cover;
}

.border-bottom-thick-orange {
  border-bottom: 4px solid rgb(242, 129, 49);
}

.border-bottom-thick-pink {
  border-bottom: 4px solid rgb(204, 46, 120);
}

table .dropdown-toggle::after {
  display: none;
}

table button:focus,
table button:active {
  box-shadow: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

table button:active svg {
  animation: spin 0.2s linear;
}

#footer {
  margin-top: auto;
}

.alert {
  position: fixed;
  top: 110px;
  right: 20px;
  z-index: 9999;
}
